
<h1><%= @division.name() %></h1>

<% if @division.employees().any?() %>
	<h3>Here are all the employees in this division:</h3>

	<ul>
		<% @division.employees().each() do |employee| %>
		<li><a href="/divisions/<%= @division.id() %>/employees/<%= employee.id() %>"><%= employee.name() %></a></li>
		<% end %>
	</ul>

<% else %>
	<h3>There are no employees on this division!</h3>
	<% end %>

<br>

  <form action="/divisions/<%= @division.id %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <label for="name">Rename the division:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Update</button>
  </form>

<br>

<form action="/divisions/<%= @division.id %>/delete" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Division</button>
</form>

<div class="container">
	<a href="/">Home</a>
	<a href="/divisions">View All Divisions</a>
	<a href="/divisions/new">Add New Division</a>
	<a href="/divisions/<%= @division.id() %>/new">Add New employee</a>
</div>
